In [6]:
import pandas as pd

In [7]:
dataset=pd.read_excel("D:\Study\Machine Learning\RegressionAnalysis\dataset1.xlsx")

In [8]:
dataset.isnull().sum()

cgpa       1
package    2
dtype: int64

In [9]:
dataset=dataset.dropna()

In [10]:
dataset.isnull().sum()

cgpa       0
package    0
dtype: int64

In [11]:
dataset

         cgpa   package
0    9.587189  2.279613
2    2.629136  2.516431
3    5.672983  3.724183
4    2.711945  2.378670
5    7.471080  1.543608
..        ...       ...
239  5.122658  2.482203
240  8.098780  1.883865
241  9.818010  1.386489
242  5.302599  3.475083
243  3.248329  2.552302

[243 rows x 2 columns]

# x is the independent var and y is the dependent variable

In [12]:
x= dataset["cgpa"]

In [13]:
x

0      9.587189
2      2.629136
3      5.672983
4      2.711945
5      7.471080
         ...
239    5.122658
240    8.098780
241    9.818010
242    5.302599
243    3.248329
Name: cgpa, Length: 243, dtype: float64

In [14]:
y=dataset["package"]

In [15]:
y

0      2.279613
2      2.516431
3      3.724183
4      2.378670
5      1.543608
         ...
239    2.482203
240    1.883865
241    1.386489
242    3.475083
243    2.552302
Name: package, Length: 243, dtype: float64

In [16]:
x.ndim

1